<%- include('templates/head', {title: 'Hackathon Copa', archivoCSS: 'detalle-evento.css'}); %>
<%- include('templates/sidebar'); %>
<%- include('templates/topbar', {title: 'Hackathon Copa'}); %>

<div class="event">
    <!-- Modal 1 -->
    <button type="button" class="btn btn-primary me-2" data-bs-toggle="modal" data-bs-target="#formModal">
        Inscribirse
    </button>
  
    <div class="modal fade" id="formModal" tabindex="-1" aria-labelledby="formModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="formModalLabel">Hackathon Copa</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <!-- FORMULARIO PARA REGISTRAR USUARIOS A UN EVENTO -->
                    <form id="formInscribir" action="/evento/<%= evento.id %>/usuarios" method="POST">
                        <div class="row mb-3">
                            <div class="col-md-12">
                                <label for="inputNombre" class="form-label">Nombre:</label>
                                <input type="text" class="form-control" id="inputNombre" name="inputNombre">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-12">
                                <label for="inputEmail" class="form-label">Email:</label>
                                <input type="email" class="form-control" id="inputEmail" name="inputEmail">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-12">
                                <label for="inputTelefono" class="form-label">Teléfono:</label>
                                <input type="text" class="form-control" id="inputTelefono" name="inputTelefono">
                            </div>
                        </div>
                    </form>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="submit" form="formInscribir" class="btn btn-primary">Inscribirse</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal 2 -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#usersModal">
        Usuarios Inscritos
    </button>
  
    <div class="modal fade" id="usersModal" tabindex="-1" aria-labelledby="usersModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="usersModalLabel">Hackathon Copa</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <!-- TABLA PARA MOSTRAR USUARIOS REGISTRADOS A UN EVENTO -->
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Id</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Email</th>
                                <th scope="col">Telefono</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% evento.usuariosRegistrados.forEach((usuario, index) => { %>
                                <tr>
                                    <th scope="row"><%= usuario.id%></th>
                                    <td><%= usuario.nombre %></td>
                                    <td><%= usuario.email %></td>
                                    <td><%= usuario.telefono %></td>
                                </tr>
                            <% }); %>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="event__description">
        <%= evento.descripcion %>
    </div>

    <div class="comment-section">
        <h3 class="comment-section__title">Comentarios</h3>

        <div class="comment-wrapper">

            <!-- UN COMENTARIO -->
            <% evento.comentariosRegistrados.forEach(comentario => { %>
                <div class="comment">
                    <svg class="comment__photo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                        <path d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z"/>
                    </svg>
                    <div class="comment__info">
                        <div class="comment__author"> <%= comentario.autor %> </div>
                        <p class="comment__text">
                            <%= comentario.mensaje %>
                        </p>
                    </div>
                </div>
            <% }); %>

        </div>


        <form id="formInscribir" action="/evento/<%= evento.id %>/comentarios" method="POST">
            <div class="row mb-3">
                <div class="col-md-4">
                    <label for="inputComentarioNombre" class="form-label">Nombre:</label>
                    <input type="text" class="form-control" id="inputComentarioNombre" name="inputComentarioNombre">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-4">
                    <label for="inputComentarioEmail" class="form-label">Email:</label>
                    <input type="email" class="form-control" id="inputComentarioEmail" name="inputComentarioEmail">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-12">
                    <label for="inputComentarioTexto" class="form-label">Comentario:</label>
                    <textarea class="form-control" id="inputComentarioTexto" name="inputComentarioTexto" rows="4"></textarea>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
    </div>
</div>
